In [1]:
# import firebase_admin
# import pandas as pd
# from firebase_admin import credentials, firestore

# if not firebase_admin._apps:
#     cred = credentials.Certificate("powerquality-d9f8e-firebase-adminsdk-fbsvc-56b01c5419.json")
#     firebase_admin.initialize_app(cred)

# db = firestore.client()

In [76]:
import firebase_admin
import pandas as pd
from firebase_admin import credentials, db

# ✅ Initialize Firebase (Only run once)
if not firebase_admin._apps:
    cred = credentials.Certificate("powerquality-d9f8e-firebase-adminsdk-fbsvc-56b01c5419.json")
    firebase_admin.initialize_app(cred, {
        'databaseURL': 'https://powerquality-d9f8e-default-rtdb.asia-southeast1.firebasedatabase.app'
    })

# ✅ Reference the node "C-8" in RTDB
ref = db.reference("/C-8/11/02/2025")

# ✅ Get data
data = ref.get()

# ✅ Convert to DataFrame (if data exists)
if data:
    df = pd.DataFrame.from_dict(data, orient="index")
    print(df)
else:
    print("No data found in Realtime Database 'C-8'.")

          current        date  frequency  power  powerFactor      time  \
00:00:00    0.000  11/02/2025       59.8    0.0         0.00  00:00:00
00:00:01    0.000  11/02/2025       59.9    0.0         0.00  00:00:01
00:00:02    0.000  11/02/2025       59.9    0.0         0.00  00:00:02
00:00:03    0.000  11/02/2025       59.8    0.0         0.00  00:00:03
00:00:04    0.000  11/02/2025       59.8    0.0         0.00  00:00:04
...           ...         ...        ...    ...          ...       ...
15:55:37    1.617  11/02/2025       98.8  352.8         0.96  15:55:37
15:55:39    1.617  11/02/2025       98.8  352.8         0.96  15:55:39
15:55:40    1.617  11/02/2025       98.8  352.8         0.96  15:55:40
15:55:41    1.617  11/02/2025       98.8  352.8         0.96  15:55:41
15:55:42    1.617  11/02/2025       98.8  352.8         0.96  15:55:42

          voltage
00:00:00    233.9
00:00:01    233.9
00:00:02    233.8
00:00:03    233.8
00:00:04    233.9
...           ...
15:55:37      NaN
15:55:39      NaN
15:55:40      NaN
15:55:41    226.6
15:55:42    226.6

[51077 rows x 7 columns]

In [27]:
# df = df.iloc[[4]].drop(columns=['current', 'date', 'frequency', 'power', 'powerFactor', 'time', 'voltage'])
# df.head()

In [77]:
new_df = df.copy()
new_df

,current,date,frequency,power,powerFactor,time,voltage
00:00:00,0.000,11/02/2025,59.8,0.0,0.00,00:00:00,233.9
00:00:01,0.000,11/02/2025,59.9,0.0,0.00,00:00:01,233.9
00:00:02,0.000,11/02/2025,59.9,0.0,0.00,00:00:02,233.8
00:00:03,0.000,11/02/2025,59.8,0.0,0.00,00:00:03,233.8
00:00:04,0.000,11/02/2025,59.8,0.0,0.00,00:00:04,233.9
...,...,...,...,...,...,...,...
15:55:37,1.617,11/02/2025,98.8,352.8,0.96,15:55:37,NaN
15:55:39,1.617,11/02/2025,98.8,352.8,0.96,15:55:39,NaN
15:55:40,1.617,11/02/2025,98.8,352.8,0.96,15:55:40,NaN
15:55:41,1.617,11/02/2025,98.8,352.8,0.96,15:55:41,226.6
15:55:42,1.617,11/02/2025,98.8,352.8,0.96,15:55:42,226.6

In [80]:
new_df.describe()

            current     frequency         power   powerFactor       voltage
count  51077.000000  51077.000000  51077.000000  51077.000000  51060.000000
mean       0.262165     59.915253     56.780686      0.470719    228.290552
std        0.597597      0.935220    129.022429      0.492913      4.727279
min        0.000000     59.600000      0.000000      0.000000    213.600000
25%        0.000000     59.800000      0.000000      0.000000    223.800000
50%        0.000000     59.800000      0.000000      0.000000    227.300000
75%        0.000000     60.000000      0.500000      1.000000    232.400000
max        1.705000     98.800000    368.500000      1.000000    236.000000

In [82]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51077 entries, 00:00:00 to 15:55:42
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   current      51077 non-null  float64
 1   date         51077 non-null  object
 2   frequency    51077 non-null  float64
 3   power        51077 non-null  float64
 4   powerFactor  51077 non-null  float64
 5   time         51077 non-null  object
 6   voltage      51060 non-null  float64
dtypes: float64(5), object(2)
memory usage: 3.1+ MB

In [84]:
new_df.dropna()

,current,date,frequency,power,powerFactor,time,voltage
00:00:00,0.000,11/02/2025,59.8,0.0,0.00,00:00:00,233.9
00:00:01,0.000,11/02/2025,59.9,0.0,0.00,00:00:01,233.9
00:00:02,0.000,11/02/2025,59.9,0.0,0.00,00:00:02,233.8
00:00:03,0.000,11/02/2025,59.8,0.0,0.00,00:00:03,233.8
00:00:04,0.000,11/02/2025,59.8,0.0,0.00,00:00:04,233.9
...,...,...,...,...,...,...,...
15:55:26,1.617,11/02/2025,98.8,352.8,0.96,15:55:26,226.6
15:55:30,1.617,11/02/2025,98.8,352.8,0.96,15:55:30,226.6
15:55:35,1.617,11/02/2025,98.8,352.8,0.96,15:55:35,226.6
15:55:41,1.617,11/02/2025,98.8,352.8,0.96,15:55:41,226.6
15:55:42,1.617,11/02/2025,98.8,352.8,0.96,15:55:42,226.6